@import "./modules/cover.css";
@import "./modules/nav.css";
@import "./modules/img.css";
@import "./modules/features.css";
@import "./modules/form.css";
@import "./modules/layout.css";

@import "./modules/animation.css";

.bg-web {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}
